[mcu PIS]
# Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
serial:  /dev/serial/by-id/usb-Klipper_rp2040_E66178C1276D3C2C-if00
       

[adxl345]
cs_pin: PIS:gpio13
#spi_bus: spi1a
spi_software_sclk_pin: PIS:gpio10
spi_software_mosi_pin: PIS:gpio11
spi_software_miso_pin: PIS:gpio12
axes_map: x,-z,y

[resonance_tester]
accel_chip: adxl345
probe_points:
    163.5, 117.5, 30 # an example
accel_per_hz: 52.5 # default is 75
#max_smoothing: 0.05
max_smoothing: 0.36
#vibrations: 0.9  